---
http_interactions:
- request:
    method: post
    uri: https://safebrowsing.googleapis.com/v4/threatMatches:find?key=<GOOGLE_SAFE_LINK_KEY>
    body:
      encoding: UTF-8
      string: '{"client":{"clientId":"yourcompanyname","clientVersion":"1.5.2"},"threatInfo":{"threatTypes":["MALWARE","SOCIAL_ENGINEERING"],"platformTypes":["WINDOWS"],"threatEntryTypes":["URL"],"threatEntries":[{"url":"https://testsafebrowsing.appspot.com/s/malware.html"}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"matches":[{"threatType":"MALWARE","platformType":"WINDOWS","threat":{"url":"https://testsafebrowsing.appspot.com/s/malware.html"},"cacheDuration":"300s","threatEntryType":"URL"}]}'
  recorded_at: Tue, 21 Oct 2025 11:47:53 GMT
recorded_with: VCR 6.3.1
